{% extends "base.html" %}

{% block content %}

<!-- New upload form -->

<div class="signupform">
    
    <form method="POST" action="/upload" id="login-form" class="login-form"  role="main" enctype="multipart/form-data">
        <h1 class="a11y-hidden">Fiile Upload Form</h1>
        <!-- File Upload -->
        <div>
            <label class="label-email">
                <input
                    class="text" 
                    name="uploaded_file"
                    placeholder="Email" 
                    tabindex="1" 
                    type="file"
                    accept="image/*"
                    required 
                />
                <span class="required">Photo</span>
            </label>
        </div>

        <!-- Upload Button -->
        <input type="submit" value="Upload" />  

        <i class="empty fas fa-file-image fa-10x"></i>
    </form>

</div>


{% endblock %}