{% extends "base1.html" %}

{% block content %}


<div class="row">
  <div class="column">
    <img src="{{ url_for('main.get_image', filename=filename, size = 'original' ) }}" style="width:100%">
    <div class="download-buttons">


      <button>
        <a href="{{ url_for('main.download_image', filename=filename, size = 'small' ) }}">
          Small 30x30
        </a>
      </button>
  
  
  
      <button>
        <a href="{{ url_for('main.download_image', filename=filename, size = 'medium' ) }}">
          Medium 70x70
        </a>
      </button>
  
      <button>
        <a href="{{ url_for('main.download_image', filename=filename, size = 'large' ) }}">
          Large 120x120
        </a>
      </button>
  
    </div>

  </div>




</div>


{% endblock %}