{% extends "base1.html" %}

{% block content %}


<div class="row">
  <div class="column">
    <img src="{{ url_for('main.get_image', filename=filename, size = 'original' ) }}" style="width:100%">
    <div class="download-buttons">

      <a href="{{ url_for('main.download_image', filename=filename, size = 'small' ) }}">
      <button>

        Small 30x30

      </button>
      </a>

      <a href="{{ url_for('main.download_image', filename=filename, size = 'medium' ) }}">
        <button>

          Medium 70x70

        </button>
      </a>

      <a href="{{ url_for('main.download_image', filename=filename, size = 'large' ) }}">
        <button>

          Large 120x120

        </button>
      </a>


    </div>

  </div>




</div>


{% endblock %}